@model VehicleApp.Models.VehicleMakeViewModels.IndexViewModel

@{
    ViewData["Title"] = "Manage Vehicle Makes";
}

<h2>Vehicle Makes</h2>

<p>
    <a asp-action="Create">Add new vehicle make</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions">
        <p>
            Find by name or abbreviation: <input type="text" name="SearchString" value="@ViewData["SearchParameter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to vehicle list</a>
        </p>
    </div>
</form>

<div class="panel panel-default vehicle-panel">
    <div class="panel-heading">@ViewData["Title"]</div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParameter"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["AbrvSortParameter"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Abbreviation</a>
                </th>
            </tr>
        </thead>


        @foreach (var vehicleMake in Model.VehicleMakes)
        {
            <tr>
                <td>@vehicleMake.Name</td>
                <td>@vehicleMake.Abrv</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@vehicleMake.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@vehicleMake.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@vehicleMake.Id">Delete</a>
                </td>
            </tr>
        }


    </table>
</div>

